server:
  port: 0

spring:
  application:
    name: auto-hub-reactive-booking
  webflux:
    base-path: /bookings
  mongodb:
    database: auto_hub_booking
    username: ${MONGODB_USERNAME}
    password: ${MONGODB_PASSWORD}
    uri: mongodb+srv://${MONGODB_USERNAME}:${MONGODB_PASSWORD}@autohubbooking.bdrqo9h.mongodb.net/?retryWrites=true&w=majority&appName=AutoHubBooking
  data:
    redis:
      database: 0
  redis:
    host: ${REDIS_HOST}
    password: ${REDIS_PASSWORD}
    port: 6379
  cloud:
    loadbalancer:
      enabled: true
      cache:
        enabled: true
    function:
      definition: bookingUpdateConsumer;failedCreatedBookingDlqConsumer;failedUpdatedBookingDlqConsumer;usernameConsumer
    stream:
      defaultBinder: kafka
      bindings:
        auditLogInfoProducer-out-0:
          destination: ${AUDIT_LOG_INFO_REACTIVE_TOPIC}
          contentType: application/json
        deletedBookingProducer-out-0:
          destination: ${DELETED_BOOKING_REACTIVE_TOPIC}
          contentType: application/json
        failedCreatedBookingDlqProducer-out-0:
          destination: ${FAILED_CREATED_BOOKING_DLQ_REACTIVE_TOPIC}
          contentType: application/json
        failedUpdatedBookingDlqProducer-out-0:
          destination: ${FAILED_UPDATED_BOOKING_DLQ_REACTIVE_TOPIC}
          contentType: application/json
        saveBookingCarUpdateProducer-out-0:
          destination: ${SAVE_BOOKING_CAR_UPDATE_REACTIVE_TOPIC}
          contentType: application/json
        savedBookingProducer-out-0:
          destination: ${SAVED_BOOKING_REACTIVE_TOPIC}
          contentType: application/json
        updateBookingCarsUpdateProducer-out-0:
          destination: ${UPDATE_BOOKING_CARS_UPDATE_REACTIVE_TOPIC}
          contentType: application/json
        updatedBookingProducer-out-0:
          destination: ${UPDATED_BOOKING_REACTIVE_TOPIC}
          contentType: application/json
        bookingUpdateConsumer-in-0:
          binder: kafka
          destination: ${BOOKING_UPDATE_REACTIVE_TOPIC}
          contentType: application/json
          group: ${BOOKING_CONSUMER_GROUP}
        failedCreatedBookingDlqConsumer-in-0:
          binder: kafka
          destination: ${FAILED_CREATED_BOOKING_DLQ_REACTIVE_TOPIC}
          contentType: application/json
          group: ${BOOKING_CONSUMER_GROUP}
        failedUpdatedBookingDlqConsumer-in-0:
          binder: kafka
          destination: ${FAILED_UPDATED_BOOKING_DLQ_REACTIVE_TOPIC}
          contentType: application/json
          group: ${BOOKING_CONSUMER_GROUP}
        usernameConsumer-in-0:
          binder: kafka
          destination: ${USERNAME_REACTIVE_TOPIC}
          contentType: application/json
          group: ${BOOKING_CONSUMER_GROUP}
      kafka:
        binder:
          auto-create-topics: true
          auto-add-partitions: false
          consumer-properties:
            key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value.deserializer: org.apache.kafka.common.serialization.StringDeserializer
            allow.auto.create.topics: true
            auto.offset.reset: latest
        bindings:
          bookingUpdateConsumer-in-0:
            consumer:
              ack-mode: MANUAL_IMMEDIATE
              standard-headers: both
          failedCreatedBookingDlqConsumer:
            consumer:
              ack-mode: MANUAL_IMMEDIATE
              standard-headers: both
          failedUpdatedBookingDlqConsumer-in-0:
            consumer:
              ack-mode: MANUAL_IMMEDIATE
              standard-headers: both
          usernameConsumer-in-0:
            consumer:
              ack-mode: MANUAL_IMMEDIATE
              standard-headers: both
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      enable-auto-commit: false
    producer:
      acks: all
  web:
    resources:
      add-mappings: false
    error:
      include-message: always
      include-binding-errors: never
      include-stacktrace: never
      include-exception: false
  http:
    codecs:
      max-in-memory-size: 20MB

eureka:
  client:
    enabled: true
    healthcheck:
      enabled: true
    eureka-server-port: 8861
    service-url:
      defaultZone: http://localhost:8861/eureka/
    proxy-password: ${EUREKA_USER}
    proxy-user-name: ${EUREKA_PASSWORD}
  instance:
    prefer-ip-address: true

springdoc:
  swagger-ui:
    enabled: true
    path: /definition/swagger-ui.html
    operationsSorter: method
  api-docs:
    path: /definition/v3/api-docs
  show-actuator: true

management:
  server:
    port: ${server.port}
  endpoint:
    health:
      group:
        custom:
          show-components: always
          show-details: always
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,loggers,prometheus
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

logging:
  level:
    org:
      springframework:
        security: ERROR
        web: ERROR
        data:
          mongodb:
            core:
              ReactiveMongoTemplate: ERROR

apikey:
  secret: ${API_KEY_SECRET}

cors:
  mapping: '/**'
  allowedOrigins: '*'
  allowedMethods: '*'
  allowedHeaders: '*'
  codecMaxInMemorySizeInMb: 20

mongo-operations:
  enabled: true

webclient:
  url:
    auto-hub-agency-cars: http://auto-hub-reactive-agency/agency/cars

scheduled:
  fixedDelay: 3000

audit:
  enabled: true
