server:
  port: ${random.int(8189,9090)}

spring:
  application:
    name: auto-hub-reactive-audit
  mongodb:
    database: auto_hub_audit
    username: ${MONGODB_USERNAME}
    password: ${MONGODB_PASSWORD}
    uri: mongodb+srv://${MONGODB_USERNAME}:${MONGODB_PASSWORD}@autohubaudit.xi9hxud.mongodb.net/?retryWrites=true&w=majority&appName=AutoHubAudit
  cloud:
    loadbalancer:
      enabled: true
      cache:
        enabled: true
    function:
      definition: auditLogInfoConsumer
    stream:
      defaultBinder: kafka
      bindings:
        auditLogInfoConsumer-in-0:
          binder: kafka
          destination: ${AUDIT_LOG_INFO_REACTIVE_TOPIC}
          contentType: application/json
          group: ${AUDIT_CONSUMER_GROUP}
      kafka:
        binder:
          auto-create-topics: true
          auto-add-partitions: false
          consumer-properties:
            key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value.deserializer: org.apache.kafka.common.serialization.StringDeserializer
            allow.auto.create.topics: true
        bindings:
          auditLogInfoConsumer-in-0:
            consumer:
              ack-mode: MANUAL_IMMEDIATE
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      enable-auto-commit: false
  web:
    resources:
      add-mappings: false
    error:
      include-message: always
      include-binding-errors: never
      include-stacktrace: never
      include-exception: false
  http:
    codecs:
      max-in-memory-size: 20MB

eureka:
  client:
    enabled: true
    healthcheck:
      enabled: true
    eureka-server-port: 8761
    service-url:
      defaultZone: http://localhost:8761/eureka/
    proxy-password: admin
    proxy-user-name: admin

management:
  server:
    port: ${server.port}
  endpoint:
    health:
      group:
        custom:
          show-components: always
          show-details: always
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,loggers,prometheus
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

logging:
  level:
    org:
      springframework:
        security: ERROR
        web: ERROR
        data:
          mongodb:
            core:
              ReactiveMongoTemplate: ERROR

mongo-operations:
  enabled: true
